@using BookReviewing_MVC.Models;
@model Book
@{
    ViewData["Title"] = "Create";
}

<div class="m-3">
    <h2>Create Book</h2>
</div>

<form method="post">
    <div class="m-3">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class ="m-3">
        <label asp-for="Isbn">Isbn</label>
        <input asp-for="Isbn" type="text" class="form-control" />
        <span asp-validation-for="Isbn" class="text-danger"></span>
    </div>
    <div class="m-3">
        <label asp-for="DatePublished">DatePublished</label>
        <input asp-for="DatePublished" type="date" class="form-control" />
        <span asp-validation-for="DatePublished" class="text-danger"></span>
    </div>
    <div class="row col-2">
        <div class="col m-3">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </div>
        <div class="col m-3">
            <a asp-controller="Book" asp-action="Index" class="btn btn-secondary">
                Back To List
            </a>
        </div>
    </div>
    
</form>

@section scripts{
    @{
        <partial name="_validationScriptsPartial" />
    }
}