@using BookReviewing_MVC.Models;
@model Book
@{
    ViewData["Title"] = "Update";
}

<div class="m-3">
    <h1>Update</h1>
</div>

<form method="post">
    <div class="m-3">
        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="m-3">
        <label asp-for="Isbn">Isbn</label>
        <input type="text" asp-for="Isbn" class="form-control" />
        <span asp-validation-for="Isbn" class="text-danger"></span>
    </div>
    <div class="m-3">
        <label asp-for="DatePublished">DatePublished</label>
        <input type="date" asp-for="DatePublished" class="form-control" />
        <span asp-validation-for="DatePublished" class="text-danger"></span>
    </div>

    <div class="row col-3 m-3">
        <div class="col">
            <button type="submit" class="btn btn-primary">
                Update
            </button>
        </div>
        <div class="col">
            <a asp-controller="Book" asp-action="Index" class="btn btn-secondary">
                Back To List
            </a>
        </div>
    </div>
</form>
