@using BookReviewing_MVC.DTOS;
@model CountryUpdateDTO
@{
    ViewData["Title"] = "Update";
}

<form method="post" asp-action="Update">
    <div class="m-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="m-3">
        <button type="submit" class="btn btn-primary">
            Update
        </button>
    </div>
    <div class="m-3">
        <button type="submit" asp-action="Index" class="btn btn-secondary">
            Back to Countries
        </button>
    </div>
</form>